
/* H1 style - nagłówek */

.titlebox {
    display: inline;
    background-color: rgba(255,255,255,0.7);
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    margin: 1%;
    color: #333;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.titlebox > h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: auto;
}

.titlebox > h2 {
    text-align: center;
    margin-top: auto;
    font-family: 'Shoolbook', sans-serif;
}

@media screen and (max-width: 800px) {
    /* body {
        font-size: 18px;
    } */
    .titlebox {
        padding-left: 25px;
        padding-right: 25px;
    }
    .titlebox > h1 {
        font-size: 30px;
    }
    .titlebox > h2 {
        font-size: 20px;
    }

}


/* ARTYKUŁY */

article {
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);
    align-items: center;
    margin: 1%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

article > div {
    margin-right: 5%;
    margin-left: 5%;
}

article .btnprice {
    display: flex;
    justify-content: space-between;
	list-style: none;
    align-items: center;
}

/* button */



article .btn a {
	color: #333;
	text-decoration: none;
    background-color: rgba(210,200,196,1);
    padding: 10px;
	border-radius: 5%;
}

article .btn a:hover {
    background-color: rgb(170, 125, 11);
	color: #ffd700;
}

article > img {
    float: left;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    object-fit: cover;
}




@media screen and (max-width: 800px) {
    article {
        display: grid;
        align-items: center;
    }

    article img {
        display: none;
    }
}